.task-list {
  font-size: 18px;
  font-weight: bold;
  filter: invert(1);
  mix-blend-mode: difference;
}

.task-list li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.tasks-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center center;
  max-height: 200px;
}

.flex-1 {
  flex: 1;
}

.hunt-card {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.background {
  background-color: 70, 70, 70;
  padding: 20px;
  padding-bottom: 50px;
  border: 1px solid #01b5ec;
  box-shadow: 0 0 5px 0 #1128f8;
}

.task-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.current-hunt-card {
  margin-bottom: 2rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(186, 223, 253, 0.1764705882);
}

.current-hunt-title {
  background-color: white;
  font-size: 2rem;
  padding: 12px;
  width: fit-content;
  margin: auto;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 3px 3px black;
  margin-bottom: 10px;
}

.stop-button {
  font-size: 25px;
  padding: 10px 20pxd;
  border-radius: 5px;
  cursor: pointer;
}

.stop-button:hover {
  background-color: red;
  color: white;
}

.photo-buttons {
  display: flex;
  justify-content: space-between;
}


#add-photo-button {
  margin-right: 350px; /* Adjust the value as needed */
}

#add-photo-button:hover {
  background-color: green;
  color: white;
}

#delete-photo-button {
  margin-left: 90px;
}

#delete-photo-button:hover {
  background-color: red;
  color: white;
}

.photo-buttons button {
  width: 100px;
  height: 50px;
  font-size: large;
}



