.add-hunt-title {
  font-size: 1.5rem;
  padding-bottom: 10px;
  padding: 5px;
  filter: invert(1);
  mix-blend-mode: difference;
}

.add-hunt-card {
  border: 1px solid #01b5ec;
  box-shadow: 0 0 5px 0 #1128f8;
}
