.task-edit {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.edit-card {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-input-field {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.center-text {
    text-align: center;
  }

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}